@font-face {
    font-family: flip-clock;
    src: url(../assets/FLIPclockblack.eot); /* IE9 Compat Modes */
    src: url(../assets/FLIPclockblack.eot?#iefix) format(embedded-opentype), /* IE6-IE8 */
         url(../assets/FLIPclockblack.woff) format(woff), /* Modern Browsers */
         url(../assets/FLIPclockblack.ttf)  format(truetype), /* Safari, Android, iOS */
         url(../assets/FLIPclockblack.svg#svgFontName) format(svg); /* Legacy iOS */
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.clock
{
    font-size: 7vw;
    font-family: flip-clock;
    color: #333;
}