@font-face {
    font-family: flip-clock;
    src: url(../assets/FLIPclockblack.eot); /* IE9 Compat Modes */
    src: url(../assets/FLIPclockblack.eot?#iefix) format(embedded-opentype), /* IE6-IE8 */
         url(../assets/FLIPclockblack.woff) format(woff), /* Modern Browsers */
         url(../assets/FLIPclockblack.ttf)  format(truetype), /* Safari, Android, iOS */
         url(../assets/FLIPclockblack.svg#svgFontName) format(svg); /* Legacy iOS */
}

*
{
    --footer-height: 10px;

    font-family: sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.clock
{
    font-size: 80pt;
    font-family: flip-clock;
    color: #333;
}

@media only screen 
and (max-device-width: 600px)
{
    .clock 
    {
        font-size: 40pt;
    }
}

@media only screen 
and (max-device-width: 1000px) and (min-device-width: 601px)
{
    .clock 
    {
        font-size: 60pt;
    }
}

.spacer
{
    height: var(--footer-height);
}

footer
{
    position: fixed;
    height: var(--footer-height);
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background: #e6e6e6;
    color: #131313;
    border-radius: 2rem 2rem 0 0;
}

footer a
{
    margin: 0 15px;
    text-decoration: none;
    color: #131313;
    font-weight: bold;
}

footer a:hover
{
    text-decoration: underline;
    color: #4f4f4f;
}