.quotes-wrapper {
    column-count: 5;
    column-gap: 25px;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.quote-container {
    display: inline-block;
    margin-bottom: 25px;
    padding: 15px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    border-radius: 5px;
}

.quote-container:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
}

.quote
{
    margin: 0;
    text-align: left;
    font-style: italic;
    font-family: serif;
    font-size: 14pt;
}

.attribution
{
    text-align: right;
    font-weight: bold;
    font-size: 11pt;
}

@media (max-width: 1650px) {
    .quotes-wrapper {
        column-count: 4;
    }
}

@media (max-width: 1350px) {
    .quotes-wrapper {
        column-count: 3;
    }
}

@media (max-width: 1000px) {
    .quotes-wrapper {
        column-count: 2;
    }
}

@media (max-width: 750px) {
    .quotes-wrapper {
        column-count: 1;
    }
}